{% for post in site.posts %}
    {% capture postyear %} {{ post.date | date: '%Y' }} {% endcapture %}
    {% capture pageyear %} {{ page.year }} {% endcapture %}
    {% capture postmonth %} {{ post.date | date: '%m%Y' }} {% endcapture %}
    {% capture nextpostmonth %} {{ post.next.date | date: '%m%Y' }} {% endcapture %}

    {% if postyear == pageyear %}
        {% if postmonth != nextpostmonth %}
            {% if forloop.index != 1 %}
                </ul>
            {% endif %}

            <h4 class="year-month"><a href="{{ post.date | date: '/%Y/%m/' | prepend: site.baseurl }}">{{ post.date | date: '%B' }}</a></h4>
            <ul class="post-list">
        {% endif %}

        {% include archive-postlist.html %}
    {% endif %}
{% endfor %}
