<div class="block">
  <h6>Browse by tags</h6>
  <p class="tags">
    {% for tag in site.tags %}
    <a
      href="{{ tag[0] | downcase | replace: ' ', '-' | prepend:'/tags/' | prepend: site.baseurl }}"
      class="tag"
      >{{ tag[0] }}</a
    >
    {% endfor %}
  </p>

  {% for post in site.posts %} {% capture year %}{{ post.date | date: '%Y' }}{%
  endcapture %} {% capture next_year %}{{ post.next.date | date: '%Y' }}{%
  endcapture %} {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture
  %} {% capture next_month %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
  {% if year != next_year %} {% if forloop.index != 1 %}
  <br />
  {% endif %}

  <a
    href="{{ post.date | date: '/%Y/' | prepend: site.baseurl }}"
    class="tag-year"
    >{{ post.date | date: '%Y' }}</a
  >
  {% endif %} {% if month != next_month %}
  <a
    href="{{ post.date | date: '/%Y/%m/' | prepend: site.baseurl }}"
    class="tag-month"
    >{{ post.date | date: '%B' }}</a
  >
  {% endif %} {% endfor %}
</div>

<div class="block">
  <h6>Browse all articles</h6>
  <ul class="archive-list">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}"
        >{{ post.date | date: "%b %-d, %Y" }}</time
      >
      <a href="{{ post.url }}" class="archive-link">{{ post.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
