@charset "utf-8";

// DHIS2 colors
$white-color: #ffffff;
$accent-color: #43cbcb;
$accent-light-color: #d8f7f7;
$accent-dark-color: #393d4d;
$accent-alt-color: #ff8f02;
$legacy-blue-color: #276696;

$thin-weight: 100 !default;
$light-weight: 300 !default;
$regular-weight: 400 !default;
$medium-weight: 500 !default;
$bold-weight: 700 !default;
$black-weight: 900 !default;

// Define defaults for each variable.

$base-font-family: Roboto, sans-serif !default;
$base-size: 16;
$base-font-size:   16px !default;
$base-font-weight: $regular-weight;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     36px !default;

$text-color:       #111 !default;
$background-color: $white-color !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    900px !default;

$on-palm:          600px !default;
$on-laptop:        900px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin relative-letter-spacing($tracking, $ratio) {
    letter-spacing: $tracking / ($ratio * $base-size) * 1em;
}

@mixin relative-line-height($ratio) {
  line-height: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
