/**
 * Site header
 */

 $header-padding-x:  $spacing-unit / 2;
 $header-padding-y:  $spacing-unit / 2;

.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $accent-color;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header > .wrapper {
  // Positioning context for the mobile navigation icon
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: $header-padding-y $header-padding-x;
} 

.site-title {
  font-weight: $bold-weight;
  margin-bottom: 0;
  flex-grow: 1;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: calc(#{$header-padding-y} - 1px);
    right: $header-padding-x;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  // border-top: 1px solid $grey-color-light;
  border-top: 1px solid $accent-color;
  
  > .wrapper {
    padding: $header-padding-y $header-padding-x;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.social-media-list a {
  color: $grey-color;
}
.social-media-list .svg-icon {
  width: 22px;
  height: 16px;
  margin-right: -4px;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @extend %clearfix;
}

.heart {
  color: $grey-color;
}

.footer-col-center {
  flex-grow: 1;
  text-align: center;
}

.rss-subscribe {
  margin-bottom: 0;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  background-color: $background-color;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-breadcrumbs {
    margin-bottom: 16px;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-family: $base-font-family;
  font-size: $small-font-size;

  time {
    margin-right: 16px;
  }

  .tag {
      border: none;
      font-size: 14px;
      color: #fff;
      padding: 4px;
      margin-right: 8px;
      white-space: nowrap;
      @include relative-line-height(3);
      background-color: #1f2330;
  }

  .tag:hover {
      text-decoration: underline;
      color: #fff;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: 48px;
  background-color: $accent-dark-color;
  color: #fff;
  padding: 24px;
  border-radius: 8px;
}

.post-title {
  @include relative-font-size(3);
  @include relative-line-height(3.5625);
  font-weight: $medium-weight;
  border: none;
  margin-bottom: 16px;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
    & > p:first-child {
        background-color: #f8f9fa;
        padding: 24px;
        border-radius: 8px;
    }
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-author {
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 1px;
    padding: 5px 10px;
    margin-bottom: 48px;
}

.post-author-heading {
    font-size: 16px;
}

.post-author-wrapper {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.post-avatar {
    margin-right: 8px;
}

.avatar {
    border-radius: 5px;
}

/* Archive */

.archive-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit / 2;
  }
}
.archive-list-heading {
  @include relative-font-size(1.75);
}
