.tags {
}

.tag {
    border: 1px solid;
    padding: 4px;
    white-space: nowrap;
    @include relative-line-height(3);
}
.tag-month {
    border: 1px solid;
    padding: 4px;
  @include relative-line-height(3);
}
.tag-year {
    background-color: $accent-light-color;
    border: 1px solid;
    padding: 4px;
    font-weight: bold;
  @include relative-line-height(3);
}
