---
type: archive
layout: default
---

<section class="archive">
  <article title="{{ page.title }}">
  {% if page.title == 'Archive' %}
  <h2>{{ page.title }}</h2>
  {% include archive-index.html %} {% else %}
  <h2>Archive: {{ page.title }}</h2>
  {% endif %} {% if page.tag and content != '' %}
    {{ content }}
  {% endif %} {% unless page.title == 'Archive' %}
  <ul class="post-list">
    {% if page.month %} {% include archive-month.html %} {% elsif page.year %}
    {% include archive-year.html %} {% elsif page.tag %} {% include
    archive-tag.html %} {% endif %}
  </ul>
  {% endunless %}
  </article>
</section>
