---
type: archive
layout: default
---

<section class="archive">
  {% if page.title == 'Articles' %}
  <h2 class="post-list-heading">{{ page.title }}</h2>
  {% include archive-index.html %} {% else %}
  <h2 class="post-list-heading">Archive: {{ page.title }}</h2>
  {% endif %} {% if page.tag and content != '' %}
  <article title="{{ page.title }}">
    <div class="content">
      {{ content }}
    </div>
  </article>
  {% endif %} {% unless page.title == 'Archive' %}
  <ul class="post-list">
    {% if page.month %} {% include archive-month.html %} {% elsif page.year %}
    {% include archive-year.html %} {% elsif page.tag %} {% include
    archive-tag.html %} {% endif %}
  </ul>
  {% endunless %}
</section>
